html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  h1,h2,h3,
  h4,h5,h6,p {
    margin: 0;
  }


  @font-face {
    font-family: "Montserrat";
    src: local("MontserratRegular"),
      url("../fonts/Montserrat-Regular.woff2") format("woff2"),
      url("../fonts/Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    src: local("MontserratMedium"),
      url("../fonts/Montserrat-Medium.woff2") format("woff2"),
      url("../fonts/Montserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }


  @font-face {
    font-family: "Montserrat";
    src: local("MontserratSemiBold"),
      url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
      url("../fonts/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    src: local("MontserratBold"),
      url("../fonts/Montserrat-Bold.woff2") format("woff2"),
      url("../fonts/Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }


  @font-face {
    font-family: "Montserrat";
    src: local("MontserratExtraBold"),
      url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
      url("../fonts/Montserrat-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-orange-light: #FF9900;
    --color-orange: #E1670E;
    --color-orange-midle: #FFB84D;
    --color-orang-dark: #E1670E;
    --color-cacaca: #CACACA;
    --color-gray: #D9D9D9;
    --color-dark-gray: #414141;
    --color-dark: #333333;
    --color-midle-gray:  #666666;
    --gap: 32px;

    }

  body {
    font-family: "Montserrat", sans-serif;
    background: var(--color-white);
    /* min-width: 350px; */
  }


  /* GLOB */
.container {
  max-width: 1800px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-black);
}
.section-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
}
.list__reset {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.flex {
  display: flex;
}

.btn__reset {
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: 16px;
  cursor: pointer;
}

  /* HEADER */
.header {
  margin: 0 auto;
  margin-bottom: 50px;
  background: var(--color-white);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
}
.header__container {
  position: relative;
  align-items: center;

}

.header__logo {
  padding: 14px 0;
  margin-right: auto;
}

.header__nav {
  padding-top: 2px;
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}
.nav__item:last-child {
  margin-right: 260px;
}


.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-black);
  outline: 2px solid transparent;
  outline-offset: 5px;
  transition-property: color, outline, outline-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.nav__link:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -7px;
    height: 2px;
    background-color: var(--color-orange-light);
    opacity: 0;
    transform: scale(0);
    transition-property: opacity, transform, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}
.nav__link:focus-visible {
  outline-color: var(--color-orange-light);
}
.nav__link:hover:not(:focus-visible):before {
  opacity: 1;
  transform: scale(1);
}
.nav__link:active:not(:focus-visible) {
  color: var(--color-orange);
}

.nav__link:active:not(:focus-visible):before {
  background-color: var(--color-orange);
}
.form-btn__open {
  border-radius: 0;
  outline: none;
  outline: 2px solid transparent;

  transition-property: outline, fill, stroke;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
.header__svg rect, path {
  transition-property: fill, stroke;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
.form-btn__open:focus-visible {
  outline: 2px solid var(--color-orange-light);
  outline-offset: 5px;
}
.form-btn__open:hover:not(:focus-visible) rect {
  fill: var(--color-orange-light);
}
.form-btn__open:hover:not(:focus-visible) path {
  stroke: var(--color-orange-light);
}
.form-btn__open:active:not(:focus-visible) rect {
  fill: var(--color-orange-light);
}
.form-btn__open:active:not(:focus-visible) path {
  stroke: var(--color-orange-light);
}

.form-btn__submit {
  margin-right: 20px;
}
.form-btn__open {
  transition: opacity .3s ease-in-out;
}
.form-btn__open.active {
  opacity: 0;
}
.form__header {
  padding: 16px 13px 16px 32px;
  max-width: 539px;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-250%);
  right: 20px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  background-color: var(--color-white);
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.12));
  border-radius: 24px;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out .2s,
    visibility .3s ease-in-out .2s;
}

.form-header__input {
  margin-right: 20px;
  padding-bottom: 5px;
  margin: 0;
  flex: 1;
  width: 100%;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--color-cacaca);
}
.form-header__input:focus-visible {
  outline: 0;
  opacity: 0.8;
}


.form__active {
  transform: translateY(-50%);
  opacity: 1;
  visibility: visible;
}
.form-close {
  padding: 0;
}


/* HERO */
.hero__container {
padding-bottom: 25px;

}

.hero__content {
  position: relative;
  max-width: 1770px;
  overflow: hidden;
}


.swiper-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.swiper-pagination {
  position: absolute;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  object-fit: cover;
  background-color: var(--color-white);

}

.slide-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
  margin-bottom: 22px;
}


.hero__block {
  position: relative;
  max-width: 917px;
  padding-top: 100px;
  padding-left: 80px;
  padding-bottom: 100px;
  pointer-events: none;
  z-index: 1;
}
.hero__title {
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-white);
}
.hero__descr {
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-white);
}

.hero__btn {
  padding: 25px 39px;
  position: relative;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: var(--color-white);
  background-color: var(--color-orange-light);
  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  pointer-events: all;
}
.hero__btn:focus-visible {
  outline: none;
  background-color: var(--color-orange-midle);
}
.hero__btn:hover:not(:focus-visible) {
  background-color: var(--color-orange-midle);
  outline: none;
}
.hero__btn:active:not(:focus-visible) {
  background-color: var(--color-orange);
  outline: none;
}
/* US */
.us__container {
  padding-top: 25px;
  padding-bottom:  50px;
}
.us__title {
  margin-bottom: 20px;
}
.us__descr {
  margin-bottom: 50px;
  max-width: 1235px;

}
.us__descr{
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
}
.us__subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-black);
}
.us__subtitle-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
}
.us__descr-left{
  padding: 50px 160px 50px 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}
.us__block {
  margin: 0;
  max-width: 100%;
  flex-wrap: wrap;
  --offsets: 1;
  gap: var(--gap);
}

.us__block-left {
  max-width: 100%;
  width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
  min-height: 622px;
  align-items: end;
  background-image: url(../img/us.png.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
}
.us__block-bottom {
  max-width: 100%;
  min-height: 196px;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.us__block-bottom-2 {
  display: none;
}
.us__block-rihgt {
  max-width: 100%;
  flex-direction: column;
  width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
}
.us__top {
  margin-bottom: 32px;
}
.us__top,
.us__bottom {
  padding: 64px 110px 60px 57px;
  align-items: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-cacaca);
  border-radius: 32px;
}

.us__block-svg {
  margin-right: 50px;
}
.us__btn {
  margin-right: 50px;
  padding: 20px 38px;
  position: relative;
  color: var(--color-white);
  outline: 3px solid var(--color-orange-light);
  transition: color .3s ease-in-out,background-color .3s ease-in-out,outline .3s ease-in-out;
}
.us__btn:focus-visible {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-orange-light);
}
.us__btn:hover:not(:focus-visible) {
  color: var(--color-white);
  background-color: var(--color-orange-light);
  outline: none;
}
.us__btn:active:not(:focus-visible) {
  color: var(--color-white);
  background-color: var(--color-orange);
  outline: none;
}
/* WORK */
.work__container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.work__title {
  margin-bottom: 50px;
}
.work__subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-black);
}
.work__descr {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);

}

.work__content {
  position: relative;
}


.work__hidden {
  display: none;
}

.work__block {
  margin-right: auto;
  width: 39%;
}
.work__content:before {
  content: "";
  position: absolute;
  width: 49%;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/work.jpg.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 32px;
}

.work__content-2:before {
  content: "";
  position: absolute;
  width: 41%;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/work-2.jpg.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 32px;
}

.work__content-3:before {
  content: "";
  position: absolute;
  width: 41%;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/work-3.jpg.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 32px;
}

.work__content-4:before {
  content: "";
  position: absolute;
  width: 41%;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/work-4.jpg.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 32px;
}

.work__list {
  margin-bottom: 45px;
}
.work__item:not(:last-child) {
  margin-right: 85px;
}

.work__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-black);
  outline:transparent;
  transition: color .3s ease-in-out,outline .3s ease-in-out;

}

.work__link:focus-visible {
  outline: 0;
  outline: 2px solid var(--color-orange-light);
  outline-offset: 5px;
}
.work__link:hover:not(:focus-visible) {
  color: var(--color-orange-light);
}
.work__link:active:not(:focus-visible) {
  color: var(--color-orange);
}


.work__btn {
  margin-right: 32px;
  padding: 20px 38px;
  position: relative;
  background-color: var(--color-orange-light);
  color: var(--color-white);
  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;

}
.work__btn:focus-visible {
  background-color: var(--color-orange-midle);
  outline: none;
}
.work__btn:hover:not(:focus-visible) {
  background-color: var(--color-orange-midle);
  outline: none;
}
.work__btn:active:not(:focus-visible) {
  background-color: var(--color-orang-dark);
  outline: none;
}
.work__btn-2 {
  padding: 20px 38px;
  outline: 1px solid var(--color-black);
  transition: color .3s ease-in-out,background-color .3s ease-in-out,outline .3s ease-in-out;

}
.work__btn-2:focus-visible {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-midle-gray);
}
.work__btn-2:hover:not(:focus-visible) {
  color: var(--color-white);
  background-color: var(--color-midle-gray);
  outline: none;
}
.work__btn-2:active:not(:focus-visible) {
  color: var(--color-white);
  background-color: var(--color-black);
  outline: none;
}
/* questions */
.questions__container {
  padding-top: 50px;
  padding-bottom: 100px;
}
.questions__title {
  margin-bottom: 32px;
  padding-top: 14px;
}
.questions__item-descr {
  max-width: 1003px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.ac .ac-trigger {
  font-family: Montserrat;
}

.questions__item .questions__item-text {
  margin-right: auto;

  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-black);
  transition: color .3s ease-in-out;
}

.questions__item .questions__item-btn {
  width: 100%;
  margin-bottom: -1px;
  padding: 30px 0;
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-top: 1px solid var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
  transition: border-color .3s ease-in-out, border-bottom .3s ease-in-out;
 }
 .questions__item-btn svg {
  transition: fill .3s ease-in-out, transform .3s ease-in-out;
 }
 .questions__item-btn:focus-visible {
  outline: none;
  border-color: var(--color-orange-light);
  z-index: 1;
 }
 .questions__item-btn:focus-visible .questions__item-text {
  color: var(--color-orange-light);
 }
 .questions__item-btn:focus-visible svg ellipse {
  fill: var(--color-orange-light);
 }
 .questions__item-btn:focus-visible svg path {
  fill: var(--color-white);
 }
 .questions__item-btn:hover {
  outline: none;
  border-color: var(--color-orange-light);
  z-index: 1;
 }
 .questions__item-btn:hover .questions__item-text {
  color: var(--color-orange-light);
 }
 .questions__item-btn:hover svg ellipse {
  fill: var(--color-orange-light);
 }
 .questions__item-btn:hover svg path {
  fill: var(--color-white);
 }
 .questions__item-btn:active {
  outline: none;
  border-color: var(--color-cacaca);
  z-index: 1;
 }
 .questions__item-btn:active .questions__item-text {
  color: var(--color-gray);
 }

 .questions__item-btn:active svg ellipse {
  fill: var(--color-cacaca);
 }
 .questions__item-btn:active svg path {
  fill: var(--color-gray);
 }
 .questions__item-btn:active svg {
  transform: rotate(45deg);
 }

 .ac .ac-trigger::after {
  content: none;
 }

 .ac {
  margin-top: 0;
  border: none;
  background-color: transparent;
}


.is-active .questions__item-descr {
  padding-bottom: 30px;
}

.is-active .questions__item-btn {
  border-bottom: none;
}

.is-active .questions__item-btn svg {
  transform: rotate(45deg);
}
/* footer */
.footer__container {
  max-width: 1920px;
  background-color: var(--color-black);
}
.footer__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-cacaca);
}
.footer__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-cacaca);
}
.footer__logo {
  margin-bottom: 18px;
}

.footer__item:last-child {
  margin-bottom: 89px;
}
.footer__block {
  align-items: center;
  justify-content: space-between;
}
.footer__left {
  padding:49px 0 50px 60px;
  width: 22.5%;
}
.footer__center {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 30%;
}
.footer__right {
  padding: 50px 65px 50px 0;
  width: 22.5%;
  min-height: 320px;
}
.footer__item-icon:not(:last-child) {
  margin-right: 25px;
}
.form {
  flex-direction: column;
  border: 0;
}
.form__input {
  margin-bottom: 25px;
  padding: 14px 0 14px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  border-radius: 16px;
  border: 0;
  background-color: var(--color-dark-gray);
  color: var(--color-cacaca);
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
.form__input:focus-visible {
  background-color: var(--color-midle-gray);
  outline: none;
}
.form__input:hover:not(:focus-visible) {
  background-color: var(--color-midle-gray);
}
.form__input:active:not(:focus-visible) {
  color: var(--color-white);
  background-color: var(--color-midle-gray);
}
.form__textarea {
  margin-bottom: 32px;
  padding-top: 14px;
  padding-left: 24px;
  min-height: 150px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  background-color: var(--color-dark-gray);
  border-radius: 16px;
  border: 0;
  color: var(--color-cacaca);
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  resize: none
}
.form__textarea:focus-visible {
  background-color: var(--color-midle-gray);
  outline: none;
}
.form__textarea:hover:not(:focus-visible) {
  background-color: var(--color-midle-gray);
}
.form__textarea:active:not(:focus-visible) {
  color: var(--color-white);
  background-color: var(--color-midle-gray);
}
.footer__link{
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-cacaca);
  outline: 2px solid transparent;
  transition: color .3s ease-in-out,outline .3s ease-in-out;
}
.footer__link:focus-visible {
  outline: 2px solid var(--color-orange-light);
  outline-offset: 5px;
}
.footer__link:hover:not(:focus-visible) {
  color: var(--color-orange-light);
}
.footer__link:active:not(:focus-visible) {
  color: var(--color-orange);
}

.footer__link-icon-vk,
.footer__link-icon-classmates {
  outline: 0;
  outline: 2px solid transparent;
  transition-property: outline;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
.footer__link-icon-vk svg {
  transition-property: fill;
  transition-duration: .3s;
  transition-timing-function: ease-in-out
}
.footer__link-icon-vk:focus-visible {
  border: none;
  outline: 1px solid var(--color-orange-light);
  outline-offset: 5px;
}
.footer__link-icon-vk:hover:not(:focus-visible) svg path {
  fill: var(--color-orange-light);
}
.footer__link-icon-vk:active:not(:focus-visible) svg path {
  fill: var(--color-orange);
}

.footer__link-icon-classmates svg {
  transition-property: fill;
  transition-duration: .3s;
  transition-timing-function: ease-in-out
}
.footer__link-icon-classmates:focus-visible {
  border: none;
  outline: 1px solid var(--color-orange-light);
  outline-offset: 5px;
}
.footer__link-icon-classmates:hover:not(:focus-visible) svg path {
  fill: var(--color-orange-light);
}
.footer__link-icon-classmates:active:not(:focus-visible) svg path {
  fill: var(--color-orange);
}
.footer__btn--block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__btn {
  padding: 19px 54px;
  display: flex;
  align-items: center;
  background-color: var(--color-orange-light);
  border-radius: 16px;
  border: 0;
  color: var(--color-white);
  background-color: var(--color-orange-light);
  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
.footer__btn:focus-visible {
  outline: none;
  background-color: var(--color-orange-midle);
}
.footer__btn:hover:not(:focus-visible) {
  background-color: var(--color-orange-midle);
  outline: none;
}
.footer__btn:active:not(:focus-visible) {
  background-color: var(--color-orange);
  outline: none;
}
